.table_size {
	width: 1440px;
	border: 1px solid #E4E4E4;
	border-collapse: collapse;
	margin: auto;
	border-left: none;
	border-right: none;
}

.table_th {
	background-color: #E4E4E4;
	height: 30px;
}

hr {
	border: #E4E4E4 1.5px solid;
}

.table_line {
	border: #E4E4E4 0.7px solid;
	width: 95%
}

.tablelist td {
	border-bottom: 1px solid #E4E4E4;
	height: 50px;
}

.tablelist th {
	border-bottom: 1px solid #E4E4E4;
}

.pageSize {
	width: 1440px;
	margin: auto;
	text-align: center;
}

.table_img {
	width: 100px;
	height: 100px;
}