input[type=button], input[type=submit], button{
	width: 100px;
	height: 40px;  
	border-radius: 5px;
	border: 0px;
	margin-top: 10px;
}

.btn_p {
	background-color: #DF7785;
	color: white;
}

.btn_b {
	background-color: #444F59;
	color: white;
}
